<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <!-- Liens vers les fichiers Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Mon Projet</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Accueil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">À propos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    
    </ul>
  </div>
</nav>

<div class="container mt-5">
  <div class="jumbotron">
    <h1 class="display-4">Bienvenue sur notre plateforme</h1>
    <p class="lead">C'est un endroit où les anciens élèves, les administrateurs et les élèves peuvent se connecter et interagir.</p>
    <hr class="my-4">
    <p>Utilisez le bouton de connexion pour accéder à votre compte.</p>
    <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Connexion</a>
    {% if user.is_superuser %}
    <a class="btn btn-primary btn-lg" href="{% url 'index' %}">Ajouter</a>
    {%else%}:
    None

    {% endif %}
  </div>
</div>

<!-- Liens vers les fichiers Bootstrap JavaScript (jQuery requis) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
